<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Size</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    {% for log in result %}
        <tr>
            <td>
                <a href="{{ path('', {'date': log.name}) }}" target="_blank">{{ log.name }}</a>
            </td>
            <td>
                {{ log.size }} kb
            </td>
            <td class="text-right">
                Remove button
            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="10">No records found</td>
        </tr>
    {% endfor %}
    </tbody>
</table>